<div class="container__content">
  <div class="content__cover">
    <img src="https://m.media-amazon.com/images/I/71eJ9RxNzPL._AC_UF894,1000_QL80_.jpg" alt="" srcset="">
  </div>
  <div class="content__title">
    <h1>Mais episodios novos de Kamen Rider na Amazon</h1>
    <hr />
  </div>
  <div class="content__description">
    <a [routerLink]="'https://www.jbox.com.br/2023/09/11/kamen-rider-series-ryuki-555-e-blade-ganham-mais-episodios-no-prime-video/']"> a << VOLTAR </a>
    <p>
      Com algumas séries já disponiveis
    </p>
  </div>
</div>
